#result.d-none {
    display: none;
}

pre {
    width: 50%;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    padding: 10px;
    margin-top: 50px;
}

.serch-btn {
    width: 600px;
    height: 50px;
    background-color: #ff8c00;
    color: #fff;
    border-color: #ff8c00;
    font-size: large;
    font-weight: bold;
}

#result {
    margin: 50px 0;
}

#endpoint {
    width: 50%;
    border: 1px solid #a9a9a9;
    padding: 20px 50px;
    text-decoration: none;
    color: #000;
    font-size: large;
}

#response {
    background-color: #f5f5f5; /* 背景色を薄い灰色に設定 */
    padding: 20px 50px; /* 内側の余白を設定 */
    border-radius: 5px; /* 角を丸くする */
    white-space: pre-wrap; /* 改行を保持しつつ、長い行を折り返す */
    word-wrap: break-word; /* 単語を折り返す */
    font-family: 'Courier New', Courier, monospace; /* 等幅フォントを使用 */
    font-size: 14px; /* フォントサイズを設定 */
    text-align: left; /* テキストを左揃えにする */
    margin: 20px auto; /* 上下のマージンを設定し、中央寄せを解除 */
    max-width: 80%; /* コンテンツの最大幅を設定 */
}